<section class="w-full h-auto flex flex-col mt-5 gap-5">
  <ul>
    <li class="font-semibold flex flex-col gap-2">
      @Component
      <div class="size-auto flex flex-row gap-3 items-center">
        <img
          src="images/@componentTopic.png"
          alt="@Component reference"
          class="w-[500px] h-auto object-cover rounded-xl font-normal"
        />
        <p class="text-sm font-normal">Es un decorador que nos permite marcar la clase como un componente y ademas nos ayuda a colocarle un nombre a nuestro componente a la hora de llamarlo ejemplo (user-component) además de enlazar una hoja de estilos y un archivo html o más. </p>
      </div>
    </li>
  </ul>
</section>
