<section class="relative w-dvw h-dvh bg-black overflow-x-hidden flex flex-col justify-between">
  <img
    src="/images/hero.png"
    alt="hero image"
    class="absolute inset-0 w-full h-auto object-cover"
  />
  <!-- efecto de gradiente -->
  <div class="absolute inset-0 bg-linear-to-r from-black/80 via-black/40 to-transparent"></div>

  <header class="relative w-full h-auto grid grid-cols-2 md:grid-cols-[1fr_3fr_1fr] gap-4">
    <!--Logo de netflix segun si esta en mobile o desktop-->
    <section class="md:col-span-1 order-0">
      <div class="inline-flex flex-row gap-2 justify-center items-center">
        <img
          src="/images/netflix-logo.png"
          alt="netflix logo"
          class="hidden w-32 h-auto object-cover md:block"
        />
        <img
          src="/images/netlixicon2016.ico"
          alt="netflix ico"
          class="block w-8 h-auto object-cover md:hidden"
        />
        <span class="block font-sans text-white md:hidden">Inicio</span>
      </div>
    </section>

    <!--seccion de las diferentes opciones-->
    <nav class="col-span-2 order-2 md:order-0 md:col-span-1 flex justify-center items-center">
      <ul class="inline-flex flex-row gap-4">
        @for (option of options; track option.id) {
        <li class="text-white/80 text-sm font-sans">{{ option.name }}</li>
        }
      </ul>
    </nav>

    <!--seccion de buscar, perfil, notificaciones etc..-->
    <div class="order-1 md:order-0 inline-flex items-center gap-6 justify-end mr-3">
      <img src="/images/search.svg" alt="search icon" class="w-6 h-auto object-cover" />
      <span class="text-white">Niños</span>
      <img src="/images/notification.svg" alt="notification icon" class="w-6 h-auto object-cover" />
      <img
        src="/images/profile-netflix.png"
        alt="profile netflix icon"
        class="w-6 h-auto object-cover"
      />
    </div>
  </header>

  <!--contenido del hero-->
  <main class="w-full h-auto ml-12">
    <section
      class="absolute inset-0 left-24 bottom-24 flex flex-col justify-center items-start gap-10"
    >
      <!--imagen de la pelicula principal-->
      <img src="/images/movie-hero.webp" alt="movie hero icon" class="w-154 h-auto object-cover" />

      <!--descripcion de la pelicula-->
      <div>
        <h3 class="text-white text-xl font-sans font-semibold mb-4">En portugués y español</h3>
        <p class="text-white text-[16px] font-medium">
          En este drama sobre crímenes de Neeraj Pandey (Policía: <br />
          El capitulo en Bihar), un equipo de agentes de aduana del aerpuerto <br />
          de Mumbai investiga una red global de contrabando.
        </p>
      </div>

      <!--botones de reproduccion y mas informacion-->
      <div class="flex flex-row gap-4">
        @for (info of movieInfo; track info.id) {
        <button
          class="inline-flex flex-row justify-center items-center gap-3 px-6 py-2 rounded-[3px] transition-colors"
          [ngClass]="{
            'bg-white hover:bg-white/70 duration-200 ease-in-out': info.id === 1,
            'bg-neutral-500 hover:bg-neutral-400 duration-200 ease-in-out': info.id === 2
          }"
        >
          <img [src]="info.imageUrl" [alt]="info.alt" class="w-6 h-auto object-cover" />
          <span
            class="text-lg font-sans font-medium tracking-[-0.02em]"
            [ngClass]="{
              'text-neutral-900': info.id === 1,
              'text-white': info.id === 2
            }"
          >
            {{ info.selector }}
          </span>
        </button>
        }
      </div>
    </section>
  </main>

  <!--seccion de las distintas peliculas-->
  <section class="absolute -bottom-20 left-8">
    <span class="text-white text-lg font-semibold font-sans">Porque vistes La ley de los audaces</span>
    <div class="inline-flex flex-row gap-3">
      @for (_ of numberImages; track $index) {
      <img [src]="'/images/movies/0' + ($index + 1) + '.jpg'" alt="movie icons" />
      }
    </div>
  </section>
</section>
