section{
    background-image: url('/assets/backgrounds/home-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(100dvh - 200px);
}