<header class="w-full h-auto flex flex-row gap-20">
  <picture class="w-full h-auto flex justify-center items-center">
    <img src="assets/icons/spotify-logo.png" alt="spotity logo" class="w-auto h-12 bg-cover" />
  </picture>
  <section class="w-full h-auto">
    <picture class="w-full"
      ><img
        src="assets/icons/home.png"
        alt="home logo"
        class="size-12 p-2 rounded-full bg-gray-600/60"
    /></picture>
    <div class="relative w-full">
      <input
        type="text"
        placeholder="What do you want to play?"
        class="w-full p-3 bg-gray-600/60 rounded-3xl text-xl font-ibm"
      />
    </div>
  </section>
  <section></section>
</header>
