<section class="w-full flex flex-col justify-center items-center mt-8 gap-4 bg-[#121212] p-2 ml-2 rounded-lg">
  
    <header class="w-full flex flex-row justify-between items-center px-4 gap-10">
    <span class="text-white text-lg text-center font-bold">Your Library</span>
    <div class="inline-flex justify-center items-center gap-5">
      <button class="inline-flex justify-center items-center">
        <img src="assets/icons/plus.png" alt="plus image" class="size-8" /><span
          class="text-white text-center text-lg font-semibold"
          >Create</span
        >
      </button>
      <picture><img src="assets/icons/maximize.png" alt="maximize icon" class="size-4" /></picture>
    </div>
  </header>

  <article class="w-full flex justify-start pl-4 gap-2 text-white/90 font-medium">
    <button class="bg-[#333333] px-5 py-[3px] rounded-xl text-center">Playlist</button>
    <button class="bg-[#333333] px-5 py-[3px] rounded-xl text-center">Artist</button>
  </article>

  <div class="w-full flex justify-around items-center gap-2">
    <img src="assets/icons/search.png" alt="search.png" class="size-5"/>
    <button class="flex items-center justify-center gap-2">
      <span class="text-white/60">Recents</span>
      <img src="assets/icons/menu.png" alt="menu icon" class="size-5 opacity-60"/>
    </button>
  </div>

  <!--Aca ira el album de musica y si no hay album se coloca el mensaje que no hay-->
  <section></section>
</section>
